{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
   <style media="screen">
     body {
       background-color: White;
     }
   </style>
  </head>
  <nav>
    <div class="container">

    <ul class="nav nav-pills">
        <li role="presentation"><a href="{% url 'image_list_view' %}">Home</a></li>
        {% if not request.user.is_authenticated %}
          <li role="presentation"><a href="{% url 'user_create_view' %}">Create User</a></li>
          <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
        {% else %}
          <li role="presentation"><a href="{% url 'profile_view' %}">{{user}}'s profile'</a></li>

          <li role="presentation"><a href="{% url 'logout' %}?next={% url 'image_list_view' %}">Logout</a></li>
        {% endif %}
      </ul>

            </div>

        </nav>
  <body>
      {% block content %}
      {% endblock %}

  </body>
